name: Publish release

on:
  workflow_dispatch:

jobs:
  call_workflow:
    name: Run Release Workflow
    if: ${{ github.repository_owner == 'ballerina-platform' }}
    uses: ballerina-platform/ballerina-standard-library/.github/workflows/release-package-template.yml@main
    secrets: inherit
    with:
      package-name: protoc-tools
      package-org: ballerina
